@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

@{
    if (Context.Session.GetString("login") == "1")
    {
        <h1>Login</h1>
    }
    else
    {
        <h1>Not login</h1>
        <button onclick="login()">Login</button>
    }
}
<script>
function login() {
    const xhttp = new XMLHttpRequest();
    let data = new FormData();
    data.append("email", "hello@hello")
    data.append("password", "1234")
    xhttp.open("POST", "/Home/Login", false);
    xhttp.send(data);
    document.location.reload();
}
</script>