<!DOCTYPE html>
<html>
  <head>
    <%- include('./header.ejs') %>
    <title>Index</title>
  </head>
  <body>
    <%- include('./navbar.ejs') %> 
    <div id="main">
      <div class="container">
          <h1>Create report form</h1>
      </div>
    </div>
    <script src="/javascripts/base.js"></script>
  </body>
</html>
