<!DOCTYPE html>
<html>

<head>
  <%- include('./header.ejs') %>
    <title>Create new form</title>
</head>

<body>
  <%- include('./navbar.ejs') %>
    <div id="main">
      <div class="container">
        <h1 class="title">Preview</h1>
        <div id="preview">

        </div>
        <select id="questSelect"></select>
        <button onclick="addQuestToPreview()">Add</button>
        <button onclick="createForm()">Create</button>
        <button onclick="clearPreview()">Clear</button>
      </div>
      <div class="container" id="construct">
        <h1 class="title">Construct form</h1>
        <div id="quests">

        </div>
        <select id="fieldSelect">

        </select>
        <select id="typeSelect">
          <option value="text">Text</option>
          <option value="yorn">Yes or No</option>
          <option value="file">File</option>
        </select>
        <button onclick="addQuest(event)">Add Question</button>
      </div>
      <div class="container" id="addfield">
        <h1 class="title">Add field</h1>
        <div id="fields">

        </div>
        <input id="newField" type="text"><button onclick="addField(event)">Add Field</button>
      </div>
    </div>
    <script src="/javascripts/base.js"></script>
    <script src="/javascripts/createForm.js"></script>
</body>

</html>