<link rel='stylesheet' href='/stylesheets/navbar.css' />
<ul id="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/user/">User</a></li>
    <% if(typeof(data) != "undefined" && data != undefined && data.manager) { %>
        <li><a href="/user/manage">Manage Users</a></li>
        <li><a href="/teams/manage">Manage Teams</a></li>
        <li><a href="/report/manage">Manage Report Form</a></li>
        <li><a href="/report/create">New Report Form</a></li>
        <li><a href="/teams/create">New Team</a></li>
    <% } %>
    <div id="menu">
        
    </div>
    <p id="footer">
        Made by ™Snowypainter</br>
        COMPANY NAME
    </p>
    <script src="/javascripts/base.js"></script>
    <script>
        window.onload = () => {
            let menu = document.getElementById("menu")
            getAjax("/teams/get/list", (response) => {
                JSON.parse(response).teams.forEach(team => {
                    const name = team[0];
                    const href = team[1];
                    let li = document.createElement("li");
                    let a = document.createElement("a");
                    a.href = href;
                    a.innerText = name;
                    li.appendChild(a)
                    menu.appendChild(li)
                });
            })
        }
    </script>
</ul>