<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./header.ejs') %>
    <title>User</title>
</head>
<body>
    <%- include('./navbar.ejs') %> 
    <% var team = team[0] %>
    <div id="main">
        <div class="container">
            <h1>Team <%= team.name %></h1>
        </div>
    </div>
</body>

</html>