body {
  margin: 0;
}
button {
  padding: 3px;
  border: 0;
  background: linear-gradient(to top, #07002c 0%, #5f0979 100%);
  color:white;
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px rgba(48, 48, 48, 0.555);
}
input {
  padding: 3px;
  font-size: 12px;
  border:0;
  outline: none;
  border-bottom: black solid 1px;
}
input:focus {
  border:0;
  border-bottom: black solid 2px;
}

#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 200px;
}
#main .title {
  font-size: 24px;
  margin: 0;
}
#main .title input {
  font-size: 20px;
}
.container {
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(48, 48, 48, 0.555);
}
.container #fields, #quests, #preview {
  overflow-y: scroll;
  height: 350px;
}
.container #fields .field button {
  margin-left: 5px;
}
.container #quests .quest button {
  margin-left: 5px;
}
.container #preview {
  min-width: 350px;
}
.container #formTitle {
  font-size: 15px;
}
.container #addedUserList li button {
  margin-left: 10px;
}

.listbox {
  overflow-y: scroll;
  list-style: none;
}
.height300 {
  height:300px;
}
.height150 {
  height: 150px;
}
.width250 {
  width:250px;
}
.listbox {
  padding: 0;
}
.listbox li {
  margin: 0;
  margin:10px;
}
.listbox a {
  text-decoration: none;
  color:black;
}
.listbox a:hover {
  color:#5f0979;
}
.max-width500 {
  max-width: 500px;
}
.overflow-x {
  overflow-x: scroll;
}
.overflow-y {
  overflow-y: scroll;
}
.width300 {
  width:300px;
}
.users-table {
  text-align: left;
  padding: 5px;
}
.users-table thead tr th {
  font-weight: bold;
  padding: 5px;
}
.users-table table {
  display:inline;
}
.collapse-content {
  display: none;
}
.row-detail {
  border: solid black 1px;
  margin-top: 10px;
  padding:10px;
  border-radius: 10px;
}
.row-detail p {
  margin-top: 0;
  padding: 5px;
}
.row-detail ul {
  padding-left: 5px;
  list-style: none;
}
.floatright {
  float:right
}
.row-detail .subtitle {
  font-size: 15px;
  font-weight: bold;
}
.row {
  margin-top: 20px;
}
.row .right {
  float: right;
}
#userSelect {
  float:none;
}
form ol, ul {
  list-style: none;
  padding: 0;
}